.progressBarContainer {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 10;
  padding: 35px 20px;
  background-color: #fff;
}

.progressBar {
  width: 100%;
  height: 3px;
  background-color: #e5e5e5;
  border-radius: 2px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: #FF4802;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .progressBarContainer {
    top: 15px;
    padding: 0 15px;
  }
}
